{% include 'sitio/header.html' %}


<div class="row">
    <div class="col-md-3">
        <div class="card">
            <img class="card-img-top" src="https://www.tematika.com/media/catalog/Ilhsa/Imagenes/579114.jpg"
                alt="Title">
            <div class="card-body">
                <h4 class="card-title">YO ANTES DE TI</h4>
                <p class="card-text">
                    <a name="" id="" class="btn btn-primary" href="#" role="button">Descarga</a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <img class="card-img-top" src="https://www.tematika.com/media/catalog/Ilhsa/Imagenes/579114.jpg"
                alt="Title">
            <div class="card-body">
                <h4 class="card-title">YO ANTES DE TI</h4>
                <p class="card-text">
                    <a name="" id="" class="btn btn-primary" href="#" role="button">Descarga</a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <img class="card-img-top" src="https://www.tematika.com/media/catalog/Ilhsa/Imagenes/579114.jpg"
                alt="Title">
            <div class="card-body">
                <h4 class="card-title">YO ANTES DE TI</h4>
                <p class="card-text">
                    <a name="" id="" class="btn btn-primary" href="#" role="button">Descarga</a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <img class="card-img-top" src="https://www.tematika.com/media/catalog/Ilhsa/Imagenes/579114.jpg"
                alt="Title">
            <div class="card-body">
                <h4 class="card-title">YO ANTES DE TI</h4>
                <p class="card-text">
                    <a name="" id="" class="btn btn-primary" href="#" role="button">Descarga</a>
                </p>
            </div>
        </div>
    </div>
</div>


{% include 'sitio/footer.html' %}