{% include 'sitio/header.html' %}

<br>
<div class="row">

    {% for libro in list_libros %}
    <div class="col-md-3">
        <div class="card">
            <img class="card-img-top" src="/img/{{ libro[3] }}" alt="Title">
            <div class="card-body">
                <h4 class="card-title">{{ libro[1] }}</h4>
                <p class="card-text">
                    <a name="" id="" class="btn btn-success" href="#" role="button">Descarga</a>
                </p>
            </div>
        </div>
    </div>
    {% endfor %}

</div>


{% include 'sitio/footer.html' %}