{% include 'admin/header.html' %}

<div class="row align-items-md-stretch">

    <div class="col-md-6">
        <div class="h-100 p-5 bg-success border rounded-3">
            <h2>Bienvenido {{ session['usuario'] }}</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Iste dignissimos nostrum similique placeat, ut odit culpa distinctio in quam ducimus
                amet aperiam necessitatibus veritatis fuga fugit? Dolorum atque sint odio.</p>
            <a href="/libros" class="btn-primary">Empezar a Administrar</a>
        </div>
    </div>
</div>

{% include 'admin/footer.html' %}